.container {
    display: flex;
    justify-content: center;
    align-items: start;
    width: 96%;
    height: calc(100vh - 122px);
}

.table {
    width: 96%;
}

.listId {
    min-width: 20px;
}

.listPrimary {
    width: 100px;
}

.listSecondary {
    width: 80px;
}

.head td,
.body th {
    min-width: 80px;
}

.head td {
    border-bottom: 1px solid black;
}

.body th {
    border-bottom: 2px solid black;
}

.body {
    cursor: pointer;
}

.body:hover {
    background-color: var(--primary-color);
}