.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btnAdd {
    margin: 20px 10px;
    padding: 10px 15px;
    font-size: 24px;
    background-color: var(--primary-text);
    color: var(--primary-color);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: color .3s linear, background-color .3s linear;
}

.btnAdd:hover {
    color: var(--primary-text);
    background-color: var(--primary-color);
}