.container {
    display: flex;
    justify-content: center;
}

.container th {
    min-width: 150px;
}

.container th:first-child {
    min-width: 20px;
}

.container td {
    padding: 10px 5px;
    line-height: 26px;
}
