.container {
    display: flex;

}

.boxActivities,
.boxInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 50%;
    height: 600px;
}

